doctype
html(lang="ru")
  head
    meta( charset="utf-8" )
    title(title="Мирославський, Чернадчук та Партнери") Адвокатське об’єднання "Мирославський, Чернадчук та Партнери"
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="keywords" content="адвокат, суми, адвокатское объеденение, адвокатське об’єднання, м суми, м. Суми, г сумы, г. Сумы, адвокат місто Суми, Мирославський, Чернадчук, Мирославский, Чернадчук, Основы вексельного права Украины, пл Независимости 10, юридичні послуги, земельні спори, земельные споры, юридична консультація, юридические консультации, правові послуги, правовые услуги, юрист украина, юрист Україна, юрист, правові відношення, юристи міста Суми, допомога юриста, допомога адвоката, спори з державними органами, кримінальні спори, кримінальні справи, уголовные дела, адвокат з кримінальних справ, спори з банками, ссуды с банками, кридитні спори, договірні видносини, як повернути депозит з банку, спори з банками суми, юридические услуги,юридической фирмы, Юридическая консультация, адвокат, юрист, цена, стоимость, консультация адвоката, консультация юриста, реструктуризация кредита, кредитный долг, коллекторское агенство, невозврат кредита, антиколлекторское агентство, антиколлектор, долг банку, помощь должникам, антиколлекторские агентства, невыплата кредита, защита должника, споры с банками, антиколлекторское -агентство, отсрочка по кредиту, долги по кредитам, банк подал в суд, платить или не платить кредит -делать -хотеть, как не платить кредиты -делать -хотеть, суд с банком, банк пола в суд, не хочу платить кредит, если не выплачивать кредит, что делать если не можешь платить кредит, взыскание долгов, как вернуть долг, иск против банка, Антиколлектор, антиколлекторские агентства, защита от банка, антиколлекторская компания, банк забирает машину, долг перед банком, законно не платить кредит, как не платить кредит банку, не хочу платить кредит, если не выплачивать кредит, как платить долларовый кредит, банк подал в суд -делать, банко подал в суд, продажа кредитных квартир банками, платить или не платить кредит -делать -валютный -хотеть -долларовый -банк -законно, банк забирает квартиру -делать, как разорвать договор, как защититься от коллекторов, если не платить за кредит -делать -валютный -хотеть -долларовый -банк -законно, можно ли не платить кредит, что делать не могу платить кредит, как защититься от банка, что делать банк забирает квартиру, банк подал в суд что делать, как платить кредит во время кризиса, суд с банком -подавать, банк отбирает квартиру, банк отбирает машину, неплатить кредит -украина, как платить валютный кредит, как неплатить кредит в украине, квартира кредит 2010, семейный адвокат, взыскание долгов, земельные споры, взыскание ущерба, адвокат наследство, адвокат по разводам, развод раздел имущества, оформить развод, расторжение брака заявление, незаконное увольнение, юридическая фирма , страховая суд, возмещение, суд страховое возмещение, юридические услуги, помощь адвоката, услуги адвоката, представительство в суде, адвокат по гражданским делам, консультация адвоката, адвокатская контора, услуги юриста, помощь юриста, адвокатские услуги, адвокат по семейным делам, юрист недвижимость, адвокат суд, юридическая компания , семейный адвокат -дело, адвокаты  юрист по жилищным вопросам, юридическая помощь украине, юридическая компания, юридическая фирма")
    meta(name="description" content="Адвокатське об'єднання 'Мирославський, Чернадчук та Партнери' об'єднує адвокатів-партнерів по всій території України, з читким розподілом в залежності від спеціаліізації адвоката.")
    link(rel = "stylesheet" href="assets/css/assets.css")
    link(rel = "stylesheet" href="assets/css/app.css")
    script( type = "application/javascript"  src = "assets/js/assets.js")
    script( type = "application/javascript"  src = "http://maps.googleapis.com/maps/api/js?v=3&sensor=false")
    script( type = "application/javascript"  src = "assets/js/app.js")
  body
    header.m-header#top
      .container
        .row
          .col-sm-3.text-center.header-part
            .m-logo M&Ch Partners
          .col-sm-6.text-center.header-part
            .m-title
              .up Мирославський, Чернадчук та Партнери
              .down Адвокатське об’єднання

          .col-sm-3.text-right.header-part
            .phones
              .phone.f-18
                i.fa.fa-mobile-phone
                |  +38(066)-822-49-79
            .email.f-18
              i.fa.fa-envelope
              |  Myroslavsky@mail.ru
            .address.f-18
              i.fa.fa-map-marker
              a(href="https://www.google.com/maps?q=%D0%BF%D0%BB%D0%BE%D1%89%D0%B0%D0%B4%D1%8C+%D0%BD%D0%B5%D0%B7%D0%B0%D0%B2%D0%B8%D1%81%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D0%B8+10+%D1%81%D1%83%D0%BC%D1%8B&ion=1&espv=2&bav=on.2,or.r_cp.&bvm=bv.103388427,d.bGg&biw=1366&bih=611&dpr=1&um=1&ie=UTF-8&sa=X&ved=0CAYQ_AUoAWoVChMIj9733J2UyAIVwbYaCh1PqA6z" target="_blank")  Суми, пл. Незалежності, буд.10

    nav.navbar.m-navbar
      .container
        .navbar-header
          button.navbar-toggle.collapsed.m-white.f-18.pointer(type="button" data-toggle='collapse' data-target='#m-navbar' aria-expanded='false')
            span.glyphicon.glyphicon-menu-hamburger
          a.navbar-brand.m-logo.menu-js.hidden-sm(href='#top') M&Ch Partners
        .collapse.navbar-collapse#m-navbar
          ul.nav.navbar-nav.navbar-right.m-menu.f-18
            li
              a.menu-js(href='#about') Про нас
            li
              a.menu-js(href='#ceo') Керівництво
            li
              a.menu-js(href='#awards') Досягнення
            li
              a.menu-js(href='#publics') Публікації
            li
              a.menu-js(href='#media') Медіа
            li
              a.menu-js(href='#services') Послуги
            li
              a.menu-js(href='#questions') Задати питання

    #about.m-section
      .m-section-wrapper
        .container.content
          h2.text-center Про об'єднання
          article.f-18
            p Адвокатське об’єднання «Мирославський, Чернадчук і Партнери» засноване в 2014 році адвокатами Сергієм Володимировичем Мирославським та Олександром Вікторовичем Чернадчуком з метою об’єднання зусиль в площині надання комплексної правової допомоги юридичним та фізичним особам.
            p Особливістю діяльності об’єднання є гармонійне поєднання сучасних досягнень в юридичній науці та практиці. Ряд партнерів об’єднання – це досвідчені адвокати з багаторічним досвідом роботи, який мають Сергій Володимирович Мирославський та Олександр Вікторович Чернадчук.
            p Метою діяльності адвокатського об’єднання є надання клієнтам повного комплексу адвокатських послуг завдяки поєднання зусиль адвокатів-партнерів, які спеціалізуються в різних галузях права.
            h3.m-t-30.text-center Принципами діяльності Адвокатського об’єднання «Мирославський, Чернадчук і Партнери» є:
            .row.m-t-15.m-b-30.principles
              .col-sm-3.col-md-3.col-xs-3.text-center
                .about-icon.f-56.fa.fa-black-tie
                div Компетентність
              .col-sm-3.col-md-3.col-xs-3.text-center
                .about-icon.f-56.fa.fa-clock-o
                div Оперативність
              .col-sm-3.col-md-3.col-xs-3.text-center
                .about-icon.f-56.fa.fa-balance-scale
                div Відповідальність
              .col-sm-3.col-md-3.col-xs-3.text-center
                .about-icon.f-56.fa.fa-users
                div Пріоритет інтересів клієнтів
            p
              strong Адвокатське об’єднання
              |  в своїй діяльності неухильно дотримується обов’язку захисту адвокатської таємниці та правил адвокатської етики.
            div
              i З повагою,
                div
                  i Керуючий партнер, к.ю.н., адвокат
                div
                  i.font-bold С.В. Мирославський

    #ceo.m-section
      .container.content
        h2.text-center.m-b-30 Керівництво
        h3.text-center Адвокатське об'єднання "Мирославський, Чернадчук та Партнери" об'єднує адвокатів-партнерів по всій території України, з чітким розподілом, в залежності від спеціалізації адвоката.
          | Керівництво Адвокатським об'єднанням " Мирославський, Чернадчук та Партнери" здійснює:
        .owner.m-t-30
          .row.f-18
            .col-md-6.asdas
              img.img-responsive(src="assets/images/owner1.jpg")
            .col-md-6
              .p-l-l.f-18
                .text-center.m-b-30
                  strong Керуючий Партнер, адвокат, к.ю.н., доцент Мирославський Сергій Володимирович
                .m-article Народився в м. Суми у 1977 році.
                .m-article Освіта: вища юридична,кандидат юридичних наук, спеціальність 12.00.03 – цивільне право і цивільний процес; сімейне право; міжнародне приватне право. У 2008 р. захистив кандидатську дисертацію на тему «Вексель як цінний папір в системі цінних паперів» Інституті держави і права ім. В.М. Корецького НАН України.
                .m-article Доцент кафедри цивільно-правових дисциплін та банківського права.
                .text-right.m-t-30
                  .btn.btn-big.btn-border.m-t-10(data-toggle="modal" data-target="#moreModal" data-title="Мирославський Сергій Володимирович" data-content="<ol><li> Мирославський С.В. Колізії при застосуванні законодавства про вексельний обіг та шляхи їх подолання / С. В. Мирославський // Держава і право : збірник наукових праць. – К. : Ін-т держави і права ім. В.М. Корецького НАН України, 2007. – № 35. – С. 329–336. </li><li> Мирославський С.В. Окремі проблеми законодавчого забезпечення обігу векселів в Україні /  С. В. Мирославський // Держава і право. Спецвипуск: збірник наукових праць. – К. : Ін-т держави і права ім. В.М. Корецького НАН України, 2005. – Т. 1. – С. 458–463. </li><li> Мирославський С.В. Проблеми застосування інституту недійсності до векселя та їх подолання  / С. В. Мирославський // Підприємництво, господарство і право. – 2007. – № 9. – С. 150–154. </li><li> Мирославський С.В. Щодо питання про визначення поняття “цінні папери” / С. В. Мирославський // Підприємництво, господарство і право. – 2002. – № 12. – С. 20–23. </li><li> Мирославський С.В. Щодо публічної достовірності векселя / С. В. Мирославський // Держава і право. Юридичні і політичні науки: збірник наукових праць. – Випуск 22. – К. : Ін-т держави і права ім. В.М. Корецького НАН України, 2003. – С. 369–373. </li><li> Мирославський С.В. Окремі проблеми становлення сучасного гаціонального вексельного законодавства /С.В. Мирославський/ Правовий вісник Української академії банківської справи / Державний вищий навчальний заклад «Українська академія банківської справи НБУ». – 2008. - № 1. – С. </li><li> Мирославський С.В. Застосування інституту недійсності до цінних паперів на прикладі векселя /С.В. Мирославський/ Правовий вісник Української академії банківської справи / Державний вищий навчальний заклад «Українська академія банківської справи НБУ». – 2009. - № 2. – С. </li></ol>" data-subtitle="Наукові праці") Наукові праці





        .owner.m-t-30
          .row.f-18
            .col-md-6
              .p-l-l.f-18
                .text-center.m-b-30
                  strong Заступник керуючого партнера, адвокат, к.ю.н., Чернадчук Олесандр Вікторович
                .m-article Дві вищі освіти: Магістр з менеджменту зовнішньоекономічної діяльності (2004 рік, Сумський національний аграрний університет), Юрист (2009 рік, ДВНЗ "Українська академія банківської справи НБУ").
                .m-article Досвід практичної роботи 6 років. Кандидат юридичних наук.
                .text-left.m-t-30
                  .btn.btn-big.btn-border.m-t-10(data-toggle="modal" data-target="#moreModal" data-title="Чернадчук Олесандр Вікторович" data-subtitle="Наукові праці" data-content="<ol><li> Чернадчук О.В. До питання визначення поняття «бюджетне законодавство». / О.В. Чернадчук // Держава і право : зб. наук. праць. Юридичні і політичні науки. – К. : Ін-т держави і права ім. В. М. Корецького НАН України, 2011. – Вип. 52. – С. 343–348. </li><li> Чернадчук О.В. Актуальні питання визначення предмета правового регулювання закону про державний бюджет. / О.В. Чернадчук // Держава та регіони. Серія: Право – 2011. – № 2. – С. 51–55 </li><li> Чернадчук О.В. До питання співвідношення бюджетного права та бюджетного законодавства / О.В. Чернадчук // Правовий вісник Української академії банківської справи. – 2012. – № 1. – С. 109-113 </li><li> Чернадчук О. Щодо визначення системи бюджетного законодавства / О. Чернадчук // Підприємництво господарство і право. – 2012. – № 8. – С. 86–89. </li><li> Чернадчук О.В. Категорія «правова якість закону про державний бюджет України» в системі фінансово-правових категорій / О.В. Чернадчук // Правовий вісник Української академії банківської справи. – 2012. – № 2. – С. 46–49. </li><li> Чернадчук О. Відповідальність за порушення бюджетного законодавства: стан та перспективи розвитку / О. Чернадчук // Юридична Україна – 2013. –  № 4. – С.24-29 </li><li> Чернадчук А.В. К вопросу о концептуальных основах бюджетного законодательства Украины / А.В. Чернадчук // Закон и жизнь. – 2013. – № 4. – С.47-50 </li><li> Чернадчук А.В. Финансово-правовая ответственность банковских учереждений за нарушение законодательства об общеобязательном государственном пенсионном страховании в Украине / А.В. Чернадчук // Права человека: история, теория и практика : собрание науч. статей / отв. ред.: В.В. Коровин : в 2 ч. – Курск : МУ «Издательский центр «ЮМЭКС». – 2010. – Ч. 2. – С..113–115 </li><li> Чернадчук О.В. Бюджетне законодавство: поняття та зміст /О.В. Чернадчук // Актуальні проблеми правового регулювання фінансово-кредитних відносин : тези доповідей ІІ Міжнародної наук.-практ. конф., 10-11 червня 2011 р. – Суми : ДВНЗ «УАБС НБУ», 2011. – С. 204–207. </li><li> Чернадчук О.В. Предмет правового регулювання закону про державний бюджет /О.В. Чернадчук // Фінансове право у ХХІ сторіччі : здобутки та перспективи : збірник наук. праць за матеріалами Міжнародної наук.-практ. конф., 4-7 жовтня 2011 р. : у 2 ч. – К. : АЛЕРТА, 2011. – Ч. 1. – С. 134–137. </li><li> Чернадчук О.В. Співвідношення понять «бюджетне право» та «бюджетне законодавство» / О.В. Чернадчук // Актуальні питання публічного права : тези доп. ІІ міжнародної наук.-практ. конф., 11 листопада 2011 р. – Запоріжжя : КПУ, 2011. – С. 271–274 </li><li> Чернадчук О.В. До питання визначення місця Конституції України в системі бюджетного законодавства / О.В. Чернадчук // Актуальні проблеми правової системи України : матеріали наук.-теоретич. конф. викладачів, аспірантів та студентів юрид. факультету СумДУ, 11 травня 2012 року – Суми : СумДУ. – 2012. – С. 60–61 </li><li> Чернадчук О.В. До питання процесуально-правової якості Закону України «Про державний бюджет» / О.В. Чернадчук // Науково-теоретична конференція викладачів, аспірантів, співробітників та студентів юридичного факультету : тези доп. наук.-теоретич. конф. викладачів, аспірантів та студентів юрид. факультету СумДУ : у 3 ч. (Суми, 20 квітня 2011р.)– Суми : СумДУ. – 2011. – Ч. 1 – С. 103–105 </li><li> Чернадчук О.В. Щодо питання правової якості Закону України «Про державний бюджет» / О.В. Чернадчук // Проблеми і перспективи розвитку банківської системи України : збірник тез доп. XIII Всеукраїнської наук.-практ. конф., 28-29 жовтня 2010 р. : у 2 т. – Суми : ДВНЗ «УАБС НБУ». – 2010. – Т. 2. – С.216–218. </li><li> Чернадчук О.В. Принципи самостійності та бюджетоспроможності бюджетної системи. / О.В. Чернадчук // Актуальні питання публічного та приватного права : тези доп. ІІІ Міжнародної наук.-практ. конф. 3 жовтня 2012 р. – Запоріжжя : КПУ, 2012. – С.245–247 </li><li> Чернадчук О.В. Фактори впливу на розвиток бюджетного законодавства України / О.В. Чернадчук // Актуальні проблеми сучасного адміністративного права : матеріали круглого столу 22 березня 2013 р.. – Запоріжжя : КПУ, 2013. – С.242–244. </li></ol>") Наукові праці
            .col-md-6.text-right
              img.img-responsive.inline(src="assets/images/owner2.png")

    #awards.m-section
      .m-section-wrapper
        .container.content
          h2.text-center.m-white Досягнення
          .row.m-t-30
            .col-md-3.col-sm-6.col-xs-6.awards-item.m-t-10
              img.img-responsive(src="assets/images/awards/1.jpg")
            .col-md-3.col-sm-6.col-xs-6.awards-item.m-t-10
              img.img-responsive(src="assets/images/awards/2.jpg")
            .col-md-3.col-sm-6.col-xs-6.awards-item.m-t-10
              img.img-responsive(src="assets/images/awards/3.jpg")
            .col-md-3.col-sm-6.col-xs-6.awards-item.m-t-10
              img.img-responsive(src="assets/images/awards/4.jpg")

    #publics.m-section
      .container.content
        h2.text-center Публікації
        .row.m-t-30
          .col-md-6.col-sm-6
            img.img.img-responsive(src="assets/images/book.jpg")
          .col-md-6
            h3.text-center.font-bold.m-b-30 Основи вексельного права України
            .m-article Посібник підготовлено практикуючим адвокатом, доцентом кафедри цивільноправових дисциплін та банківського права Державного вищого навчального закладу "Українська академія банківської справи Національного банку України", кандидатом юридичних наук, керуючим партнером адвокатського об’єднання "M&Ch Partners" С.В. Мирославським (advocate.sumy@gmail.com).
            .m-article.m-t-15 Посібник призначений для викладачів, аспірантів та студентів юридичних вищих навчальних закладів. Підготовлений на основі чинних нормативних актів з врахуванням основних висновків судової практики зі спорів, які стосуються обігу веселів в Україні, а також наукових праць присвячених питанням векселя та вексельного обігу.
            .text-right.m-t-15
              .f-18 Ціна даного посібника: 110 грн.
              .f-18 Для замовлення звертатись за телефоном +38(066)-160-16-43


    #media.m-section
      .m-section-wrapper
        .container.content
          h2.text-center.m-white Медіа
          .row
            iframe.col-md-6.col-sm-6.col-xs-12.text-center.m-t-15.e-video(width="420" height="315" src="https://www.youtube.com/embed/xK3t2FsmsWc" frameborder="0" allowfullscreen)
            iframe.col-md-6.col-sm-6.col-xs-12.text-center.m-t-15.e-video(width="420" height="315" src="https://www.youtube.com/embed/my6aC3eEAzo" frameborder="0" allowfullscreen)


    #services.m-section
      .container.content
        h2.text-center Послуги
        .row
          .col-sm-3.col-md-3.col-xs-6.service.text-center.m-t-30
            .service-content
              .f-56.fa-users.fa
              .f-18.m-t-10 1. Спори з державними органами
              .more-btn(data-toggle="modal" data-target="#moreModal" data-title="Спори з державними органами" data-content="<p> Головним завданням державних органів є служіння народу України! Але в житті існують непоодинокі випадки, коли державні органи свою діяльність, порушують законні права інтереси громадян. </p><p>Одним із способів захисту в спорах з органами державної влади є захист у судовому порядку. Здійснення захисту фізичних та юридичних від порушень з боку органів влади, самоврядування, прокуратури, податкової, митної служби чи врегулювання з іншими  державними органами є досить складним і тривалим. Без наявності відповідної освіти і майже неможливо позитивного результату. Але адміністративні позови складені юристами надають суттєву перевагу при вирішенні спорів з органами.</p><p>Залежно від індивідуальної життєвої ситуації кожен має свій шлях спору з органами державної влади:</p><ul><li>адміністративний позов про оскарження бездіяльність;</li><li>адміністративний позов про скасування рішення державного органу;</li><li>адміністративний позов про визнання дій неправомірними.</li></ul><p>Адміністративний позов подається лише в письмовій формі позивачем або уповноваженим представником.</p>")
                f-56.fa-expand.fa
                .f-24.m-t-10 Докладніше

          .col-sm-3.col-md-3.col-xs-6.service.text-center.m-t-30
            .service-content
              .f-56.fa-gavel.fa
              .f-18.m-t-10 2. Кримінальні справи
              .more-btn(data-toggle="modal" data-target="#moreModal" data-title="Кримінальні справи" data-content="<p>Амністія 2015, яку планується провести  в Україні по кримінальних справах, робить питання судового захисту громадян, як ніколи актуальним.</p><p>Судовий розгляд кримінальних справ здійснюється за участі сторони захисту та сторони обвинувачення, які реалізують принцип змагальності сторін.  Кваліфікований адвокат, як правило, відіграє вирішальну роль, адже виступає як гарант об’єктивності здійснення кримінального провадження та  вберігає від  помилок, які в майбутньому можуть погіршити становище.</p><p>Правова допомога у кримінальних справах забезпечує захист прав та інтересів, честі та гідності особи. Щоб розробити найбільш ефективну стратегію захисту юристу необхідно дослідити матеріали кримінальних справ,а також зібрати та надати суду всі необхідні докази задля зняття звинувачень з клієнта.</p><p>Законом передбачене право громадянина здійснювати захист своїх прав самостійно, але такий ризик рідко буває виправданим.</p>")
                f-56.fa-expand.fa
                .f-24.m-t-10 Докладніше

          .col-sm-3.col-md-3.col-xs-6.service.text-center.m-t-30
            .service-content
              .f-56.fa-usd.fa
              .f-18.m-t-10 3. Стягнення боргу
              .more-btn(data-toggle="modal" data-target="#moreModal" data-title="Стягнення боргу" data-content="<p>Стягнення боргу досить складний і тривалий процес, тому  наявність кваліфікованого юриста суттєво підвищує шанси на позитивне вирішення конфлікту.  Повернення коштів може відбуватися у досудовому порядку, шляхом переговорів з боржником та роз’яснення йому правових наслідків відмови від виконання зобов’язання. Якщо повернути борг у добровільному порядку неможливо  потрібно готувати позов про стягнення боргу. Позов складається відповідно до характеру відносин які склалися між кредитором і особою з якої потрібно стягнути борг:</p><ul><li>стягнення боргу за договором позики (стягнення боргу за розпискою) </li><li>стягнення завданої матеріальної та моральної шкоди; </li><li>стягнення заробітної плати;</li><li>стягнення заборгованості по аліментах;</li><li>стягнення заборгованості за нарахованою пенсією; </li><li>стягнення заборгованості за договором;</li><li>та будь-які інші види стягнень у судовому порядку.</li></ul><p>Законом передбачена можливість стягнення з боржника не лише основної суми боргу, а й додаткових коштів:</p><ul><li>збитки;</li><li>неустойку;</li><li>моральну шкоду.</li></ul><p>Рішення суду про стягнення боргу не є гарантією повернення боргу. Як демонструє практика боржники,  навіть після винесення рішення судом, не бажають повертати борг і шукають будь –яку можливість задля уникнення стягнення коштів.  Щоб все ж домогтися повернення боргу необхідно звернутися до досвідчених фахівців, які зможуть в межах закону, забезпечити виконання боржником своїх обов’язків у повному обсязі та у встановлені строки.</p>")
                f-56.fa-expand.fa
                .f-24.m-t-10 Докладніше

          .col-sm-3.col-md-3.col-xs-6.service.text-center.m-t-30
            .service-content
              .f-56.fa-suitcase.fa
              .f-18.m-t-10 4. Для юридичних осіб
              .more-btn(data-toggle="modal" data-target="#moreModal" data-title="Для юридичних осіб" data-content="<p>Відповідно до законодавства України юридичною особою визнається організація, яка зареєстрована у встановленому порядку, наділена цивільною правоздатністю та дієздатністю. Юридична особа може виступати в якості позивача або відповідача в суді.</p><p>Отже, для успішного функціонування, юридична особа потребує кваліфікованої правової допомоги на всіх етапах її діяльності, починаючи із створення (державної реєстрації юридичної особи), закінчуючи процесом ліквідації юридичної особи.</p><p>Супроводження діяльності юридичних осіб  включає в себе:</p><ul><li>консультацію співробітників клієнта з питань, що виникають під час виконання їх службових обов’язків;</li><li>здійснення реєстрації змін внесених до установчих документів;</li><li>представництво перед контролюючими органами на всіх етапах проведення перевірки будь-яким уповноваженим на її здійснення органом;</li><li>захист прав та інтересів юридичної особи під час корпоративних спорів, як у судовому так і позасудовому порядку.</li></ul>")
                f-56.fa-expand.fa
                .f-24.m-t-10 Докладніше

          .col-sm-3.col-md-3.col-xs-6.service.text-center.m-t-30
            .service-content
              .f-56.fa-money.fa
              .f-18.m-t-10 5. Податкові спори
              .more-btn(data-toggle="modal" data-target="#moreModal" data-title="Податкові спори" data-content="<p>Застосування законодавства у податковій сфері дуже важливо, тому що законодавство і трактування податкових норм, часто змінюються. Слідкуючи за змінами в законодавстві можна уникнути переплати податків та скористатися існуючими пільгами.</p><p>Спори з податковою  негативне явище з яким має справу велика кількість громадян та суб’єктів підприємницької діяльності, але не в кожного вистачає знань та досвіду для вирішення проблеми з мінімальними затратами часу та коштів. Юридична допомога надана кваліфікованими спеціалістами суттєво зменшить негативні наслідки. </p><p>Оскарження податкових повідомлень – рішень надає можливість повернути кошти, які були сплачені в якості  податків та штрафів, а також не сплачувати нараховані всупереч закону платежі.</p><p>Також одним із способів захисту своїх прав є подача до суду позову щодо визнання недійсним рішень про застосування штрафних санкцій, що допоможе ліквідувати санкції накладені податковою службою.</p>")
                f-56.fa-expand.fa
                .f-24.m-t-10 Докладніше

          .col-sm-3.col-md-3.col-xs-6.service.text-center.m-t-30
            .service-content
              .f-56.fa-tree.fa
              .f-18.m-t-10 6. Земельні спори
              .more-btn(data-toggle="modal" data-target="#moreModal" data-title="Земельні спори" data-content="<p>Відносини що виникають у зв’язку з розподілом, використанням та охороною землі регулюються нормами земельного права. Вирішення земельних спорів вимагає досконалого знання законодавства. Земельні спори як правило, стосуються виникнення, зміни та припинення прав користувачів землею, зокрема:</p><ul><li>спори за межу;</li><li>розподіл земельної ділянки;</li><li>виділення частки у спільній власності;</li><li>порушення правил добросусідства;</li><li>захоплення чужої земельної ділянки;</li><li>використання земельних ділянок не за призначенням; </li><li>визначення порядку користування земельною ділянкою;</li><li>неправильна реєстрація права власності на землю.</li></ul><p>Спеціаліст, який має досвід вирішення земельних спорів дослідивши всі документи та обставини конфлікту може оцінити ризики, проаналізувати наслідки і надати найвигідніший варіант вирішення проблеми. Кваліфікований юрист може надати допомогу щодо:</p><ul><li>визначення порядку користування земельною ділянкою;</li><li>оскарження дій щодо вчинення перешкоди в користуванні земельною ділянкою;</li><li>визнання угоди по земельній ділянці недійсною;</li><li>приведення земельної документації відповідно до вимог чинного законодавства;</li><li>приватизації земельної ділянки;</li><li>вирішення земельних спорів по незаконним діям держ. органів.</li></ul>")
                f-56.fa-expand.fa
                .f-24.m-t-10 Докладніше

          .col-sm-3.col-md-3.col-xs-6.service.text-center.m-t-30
            .service-content
              .f-56.fa-bank.fa
              .f-18.m-t-10 7. Спори з банками
              .more-btn(data-toggle="modal" data-target="#moreModal" data-title="Спори з банками" data-content="<p>В сучасних умовах банки досить швидко переходять від пропозицій «покращити життя» громадян до відвертого обкрадання клієнтів. Надання кредитів за вигідними, здавалося б, умовами нерідко тягне за собою необґрунтовано нараховані відсотки, штрафи та пеню. Відстояти свої права самостійно в конфлікті з таким потужним противником, як банк майже нереально. Але за участі фахівця спори з банками вирішуються досить швидко та ефективно. Досудове врегулювання спорів може полягати у:</p><ul><li>проведенні переговорів з банком;</li><li>реструктуризації заборгованості.</li></ul><p>У випадку коли уникнути судового розгляду не вдалось кваліфікований юрист допоможе: </p><ul><li>підготувати позов про визнання договору кредитування недійсним (окремої його частини) або розірвати договір;</li><li>домогтись зменшення пені;</li><li>захистити інтереси поручителів;</li><li>оскаржити виконавчий напис нотаріуса;</li><li>оскаржити постанову державного виконавця;</li><li>оскаржити результати оцінки арештованого майна</li><li>підготувати позов про стягнення депозиту.</li></ul><p>Юрист не лише представляє інтереси в суді, а й  супроводжує виконання судового рішення,  здійснюючи нагляд за діяльністю державної виконавчої служби. Особливість спорів з банками є залучення до їх вирішення колекторських фірм, які для досягнення своєї мети часто вдаються до дієвих, але незаконних методів. Консультація у досвідченого спеціаліста, надасть вам можливість ефективно протидіяти колекторам та захистити свої права.</p>")
                f-56.fa-expand.fa
                .f-24.m-t-10 Докладніше

          .col-sm-3.col-md-3.col-xs-6.service.text-center.m-t-30
            .service-content
              .f-56.fa-book.fa
              .f-18.m-t-10 8. Договірні відносини
              .more-btn(data-toggle="modal" data-target="#moreModal" data-title="Договірні відносини" data-content="<p>В Україні під словом договір розуміють, угоду двох або більше сторін в наслідок якої встановлюються, змінюються чи припиняються взаємні права та обов’язки. Відносини, які  виникають в процесі укладення договору мають свою специфіку і врегульовуються відповідно до чинного законодавства. На даному етапі розвитку інформаційного суспільства  у вільному доступі перебувають проекти всіх видів договорів. Але не потрібно забувати, що кожна життєва ситуація має безліч нюансів, а кожен договір повинен мати індивідуальні особливості задля всебічного захисту прав та інтересів громадян. Професійна діяльність юриста сприяє набуттю навичок необхідних для складання проектів договорів, які максимально відповідатимуть як вимогам закону, так і побажанням замовника. Також юрист може здійснювати представництво клієнта при:</p><ul><li>укладанні договору;</li><li>розірванні договору в судовому порядку;</li><li>визнанні договору недійсним;</li><li>стягненні заборгованості за договором.</li></ul>")
                f-56.fa-expand.fa
                .f-24.m-t-10 Докладніше

          .col-sm-3.col-md-3.col-xs-6.service.text-center.m-t-30
            .service-content
              .f-56.fa-file.fa
              .f-18.m-t-10 9. Розробка та супровід договорів та контрактів
              .more-btn(data-toggle="modal" data-target="#moreModal" data-title="Розробка та супровід договорів та контрактів" data-content="<p>Розробка різних видів договорів має свої особливості, та потребує досвіду та знань у різних галузях права. Тому залучення кваліфікованого юриста є необхідним задля уникнення в майбутньому негативних наслідків. Під час складання договорів та контрактів юрист виступає гарантом відповідності їх умов чинному законодавству. У тексті договору повинні міститися всі істотні умови передбачені законом для цього виду договору ( наприклад предмет, ціна, строки). Розробляючи проект договору чи контракту потрібно звертати увагу не лише на зміст, але і на форму. Деякі види договорів потребують нотаріального посвідчення або вважаються чинними лише з моменту державної реєстрації.</p><p>Юрист також може здійснювати супровід договорів та контрактів, що включає:</p><ul><li>участь  у проведенні переговорів щодо підписання та, в разі потреби, розробку протоколу розбіжностей; </li><li>консультацію клієнта з приводу умов та наслідків укладення , що дасть можливість об’єктивно оцінити всі ризики;</li><li>представництво в суді у випадках виникнення спорів з приводу договору та контракту.</li></ul>")
                f-56.fa-expand.fa
                .f-24.m-t-10 Докладніше

          .col-sm-3.col-md-3.col-xs-6.service.text-center.m-t-30
            .service-content
              .f-56.fa-user.fa
              .f-18.m-t-10 10. Цивільні спори
              .more-btn(data-toggle="modal" data-target="#moreModal" data-title="Цивільні спори" data-content="<p>Цивільні відносини становлять значну частину сучасного життя, тому недивно що майже кожен український громадянин стикався із проблемами вирішення цивільного спору. До цивільних спорів можна віднести:</p><ul><li>спадкові спори;</li><li>житлові спори;</li><li>відшкодування матеріальної та моральної шкоди;</li><li>розподіл майна;</li><li>захист інтелектуальної власності;</li><li>захист прав споживачів.</li></ul><p>Цивільні спори, які виникають внаслідок порушень чинного законодавства мають два шляхи врегулювання: досудовий та судовий. Але в результаті  відсутності відповідних знань та досвіду більшість громадян не можуть самостійно визначити успішність звернення до суду, а іноді навіть не підозрюють про  порушення своїх прав. Юрист, який постійно слідкує за всіма змінами в законодавстві та неодноразово виступав представником у цивільних справах, може стати надійним гарантом захисту ваших інтересів.</p><p>Цивільні спори, зазвичай, потребують залучення великої кількості документів у якості доказів, тому допомогу фахівця при їх збиранні, аналізі та застосуванні важко переоцінити. Юрист може не лише проконсультувати вас з приводу вирішення цивільного спору на вашу користь та допомогти у формування позовної заяви, а й безпосередньо бути представником ваших інтересів у суді. Участь у засіданні кваліфікованого захисника суттєво підвищує успішність захисту та економить час та кошти клієнта.</p>")
                f-56.fa-expand.fa
                .f-24.m-t-10 Докладніше

          .col-sm-3.col-md-3.col-xs-6.service.text-center.m-t-30
            .service-content
              .f-56.fa-briefcase.fa
              .f-18.m-t-10 11. Господарські та корпоративні спори
              .more-btn(data-toggle="modal" data-target="#moreModal" data-title="Господарські та корпоративні спори" data-content="<p>Під час здійснення господарської діяльності уникнути проблем та конфліктних ситуацій неможливо. Найчастіше господарські спори виникають внаслідок не виконання однією стороною зобов’язань з оплати, або порушення інших зобов’язань, які виникли в результаті договірних чи реальних відносин.  Корпоративні спори полягають у визнанні недійсними установчих документів або внесенні до них змін, оскарженні рішення загальних зборів.</p><p>Вирішення господарських та корпоративних спорів у судовому порядку забезпечує ефективний захист порушених прав та інтересів, але велику роль в таких випадках відіграє особа яка здійснює представництво у судовому засіданні. Адже фахівець у галузі права, який має відповідний досвід може, оцінивши ситуацію, зібрати необхідні докази, проаналізувати документи та розробити лінію поведінки яка дозволить вирішити спір на користь клієнта  з мінімальною затратою часу і коштів.</p>")
                f-56.fa-expand.fa
                .f-24.m-t-10 Докладніше

          .col-sm-3.col-md-3.col-xs-6.service.text-center.m-t-30
            .service-content
              .f-56.fa-shield.fa
              .f-18.m-t-10 12. Виконання судових рішень
              .more-btn(data-toggle="modal" data-target="#moreModal" data-title="Виконання судових рішень" data-content="<p>Останнім етапом судового захисту є виконання судових рішень, яке може здійснюватися як у добровільному, так і у примусовому порядку. Отримавши виконавчий лист, потрібно надати його виконавчій службі разом із заявою про відкриття виконавчого провадження. Щоб домогтись реального виконання судового рішення необхідно здійснювати контроль за діяльністю виконавця  на всіх стадіях виконавчого провадження. Кваліфікований юрист збільшує шанси на виконання судового рішення у повному обсязі та у встановлені строки.</p><p class='text-center'>Досвідчений фахівець:</p><ul><li>слідкує за направленням виконавцем запитів до необхідних державних органів;</li><li>надсилає постанови про накладення арешту на майно до банківських та фінансових установ;</li><li>здійснює письмові виклики боржника до органів виконавчої служби для надання пояснень.</li></ul>")
                f-56.fa-expand.fa
                .f-24.m-t-10 Докладніше

    #questions.m-section
      .m-section-wrapper.m-b-n-5
        .container.content
          .row
            .col-sm-6.col-md-6.m-b-30
              h2.text-center У Вас є запитання?
              form(action="questions.php" name="questionsForm" method="POST")
                input.form-control.m-t-10(type="text" placeholder="Ім’я" name="name" required)
                input.form-control.m-t-10(type="email" placeholder="Електронна пошта" name="email" required)
                textarea.form-control.m-t-10(placeholder="Запитання" name="question" required)
                .text-center.m-t-10
                  button.btn.btn-big(type="submit" name="subm") Надіслати
            .col-sm-6.col-md-6
              #map

    #moreModal.modal.fade.m-modal(tabindex='-1' role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span.f-24.m-black(aria-hidden='true') ×
            h3#moreModalTitle.modal-title.text-center Modal title
          .modal-body
            h3.text-center.modal-subtitle
            article#moreModalContent.f-18
            .owner-info
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49427893-3', 'auto');
      ga('send', 'pageview');
