#about {
  background: url('../images/bg2.jpg') fixed no-repeat;
  background-size: cover;

  article p {
    text-indent: 24px;
  }

  .principles {
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    .about-icon {
      min-height: 60px;
    }
  }


}