#awards {
  background: url(../images/bg4.jpg) fixed no-repeat;
  background-size: cover;
  overflow: hidden;

  .m-section-wrapper {
    background: rgba(44, 62, 80, 0.8);
  }

  .awards-item img{
    box-shadow: 10px 10px 10px #000;
    transition: all 0.3s ease;
  }
}