body {
  margin: 0;

  &.modal-open {
    overflow: visible;
    padding-right: 0 !important;
  }
}

* {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.m-logo {
  padding: 10px 15px;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: $m-white;
  background: $m-black;
  text-align: center;
}

.f-24 {
  font-size: 24px;
}

.f-18 {
  font-size: 18px;
}

.pointer {
  cursor: pointer;
}

.m-section {
  width: 100%;
  min-height: 500px;
  .m-section-wrapper {
    background: rgba(44, 62, 80, 0.5);
    width: 100%;
    height: 100%;
    display: inline-block;
    content: '';
    color: $m-white;
    min-height: 500px;
  }
  .content {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.m-t-10 {
  margin-top: 10px;
}

.f-16 {
  font-size: 16px;
}

.font-bold {
  font-weight: 600;
}

.f-36 {
  font-size: 36px;
}

.f-56 {
  font-size: 56px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-t-15 {
  margin-top: 15px;
}

.btn {
  border-radius: 0;
  transition: background 0.2s ease, color 0.2s ease;
  color: $m-black;

  &.btn-big {
    font-size: 24px;
  }

  &:hover, &:active, &:focus, &:active:focus {
    background: rgba(44, 62, 80, 0.8);
    color: $m-snow;
    outline: none;
  }

  &.btn-border {
    border: 1px solid $m-black;
  }
}

input.form-control[type="text"], input.form-control[type="email"], textarea.form-control {
  border-radius: 0;
  background: $m-white;
  font-size: 16px;
  resize: vertical;
  &:focus {
    box-shadow:inset 0 0 5px $m-black;
    border: 1px solid $m-black;
  }

}

::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder {
  color: $m-black;
}

.m-b-n-5 {
  margin-bottom: -5px;
}

.inline {
  display: inline-block;
}

.m-r-5 {
  margin-right: 5px;
}

.p-l-lg {
  padding-left: 20px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-article {
//  text-indent: 24px;
  font-size: 18px;
  text-align: justify;
}

.m-section {

}
