.m-header {
  background: $m-white;
  padding: 10px;

  .m-title {
    display: inline-block;

    .up {
      font-size: 30px;
      font-weight:bold;
      color: $m-black;
      border-bottom: 1px solid $m-grey;
      font-family: 'Marck Script', cursive !important;
    }

    .down {
      text-align: right;
      font-weight:bold;
      font-family: 'Marck Script', cursive !important;
      color: $m-black;
      font-size: 22px;
    }
  }

  .header-part {
    vertical-align: middle;
  }

  .social a {
    &:hover {
      opacity: 0.5;
    }
  }
}

.m-navbar {
  background: $m-black;
  border-radius: 0;
  height: 50px;
  margin-bottom: 0;
  border: 0;
  transition: all 0.2s ease;

  .m-logo {
    display: none;
    opacity: 0;
    margin: 5px;
    padding: 10px;
    height: auto;
    color: $m-black;
    background: $m-white;
    transition: opacity 0.2s ease;
  }

  &.onscrolling {
    background: $m-snow;
    box-shadow: 0 0 5px $m-black;

    .m-logo {
      display: block;
      opacity: 1;
      background: $m-black;
      color: $m-white;
    }

    .navbar-toggle {
      color: $m-black;
    }

    .m-menu {
      li a {
        color: $m-black;
        &:after, &:before {
          background: $m-black;
        }
      }
    }
  }

  .m-menu {
    li a {
      color: $m-white;
      &:after, &:before {
        position: absolute;
        display: inline-block;
        bottom: 0;
        height: 2px;
        margin-top: 10px;
        content: '';
        width: 0;
        background: $m-white;
        transition: width 0.1s ease, height 0.1s ease 0.15s;
      }

      &:after {
        left: 50%;
      }

      &:before {
        right: 50%;
      }

      &:hover {
        background: none;

        &:after, &:before {
          width: 50%;
          height: 8px;
        }
      }
      &:focus, &:active, &.active {
        background: none;

        &:after, &:before {
          width: 50%;
          height: 2px;
        }

      }
    }
  }
}
