@media screen and (max-width: 767px) {
  .m-navbar {
    height: auto;

    .m-logo {
      margin: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .awards-item img{

    &:hover {
      transform: scale(1.2);
      box-shadow: none;
    }

  }
}