.m-modal {
  .modal-content {
    border-radius: 0;

    .modal-header {
      border-bottom: none;
      background: $m-white;
    }
    .close {
      opacity: 1;
      font-weight: bold;
    }

    .modal-body {
      max-height: 400px;
      overflow-y: auto;
      text-align: justify;

      p {
        text-indent: 24px;
      }
    }
  }
}
