#services {
  background: $m-white;

  .service {
    .service-content {
      height: 200px;
      margin: 0 10px;
      border-radius: 10px;
      background: $m-black;
      color: $m-white;
      padding: 50px 5px;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      &:hover {
        .more-btn {
          opacity: 1;
        }
      }

      .more-btn {
        opacity: 0;
        border-radius: 10px;
        transition: opacity 0.2s ease;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 50px 5px;
        font-size: 24px;
        top: 0;
        left: 0;
        line-height: 100%;
        background: $m-black;

        .fa {
          color: $m-black;
          background: $m-white;
          border-radius: 50%;
          padding: 20px 22.5px;
        }
      }
    }
  }
}