$m-black: #2c3e50;
$m-white: #ecf0f1;
$m-snow: #fff;
$m-grey: #7f8c8d;
$m-blue: #3498db;

.m-black {
  color: $m-black;
}

.m-white {
  color: $m-white;
}

.m-grey {
  color: $m-grey;
}

.m-snow {
  color: $m-snow;
}

.m-blue {
  color: $m-blue;
}
